In [ ]:
Q-13. Write an SQL query to show only odd rows from aÂ table.

Select * from Employee where (RowID % 2) = 1

In [ ]:
Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE new_table SELECT * FROM original_table;