In [ ]:
Q-17. Write an SQL query to show the top n (say 10) records of a table.

Select * from Worker Order By Salary DESC Limit 10;

In [ ]:
Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

SELECT TOP 5 Salary
FROM (
 SELECT DISTINCT TOP n Salary
 FROM Worker 
 ORDER BY Salary DESC
 )
ORDER BY Salary ASC;