In [ ]:
Q-1. Write an SQL query to print the first three characters ofÂ  FIRST_NAME from Worker
table.

SELECT SUBSTRING(FIRST_NAME,1,3) 
     FROM Worker;

In [ ]:
Q-2. Write an SQL query to find the position of the alphabet ('a') in the first name
column 'Amitabh' from Worker table.

Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

In [ ]:
Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

Select First_name,Dept_Id,Max(Salary) from department grup by Dept_Id.